In [1]:
from pyhealth.datasets import MIMIC3Dataset

In [5]:
import pandas as pd

In [16]:
dataset =  MIMIC3Dataset(
        root="/Users/work/Documents/omscs/bd4h_project/data/mimic-iii-clinical-database-1.4",
        tables=["DIAGNOSES_ICD", "PRESCRIPTIONS"],
        code_mapping={"NDC": ("ATC", {"target_kwargs": {"level": 3}})},
    )

Parsing PATIENTS and ADMISSIONS: 100%|██████████████████████████████████████████████████| 46520/46520 [00:44<00:00, 1051.62it/s]
Parsing DIAGNOSES_ICD: 100%|████████████████████████████████████████████████████████████| 58929/58929 [00:06<00:00, 9082.11it/s]
Parsing PRESCRIPTIONS: 100%|█████████████████████████████████████████████████████████████| 50212/50212 [06:05<00:00, 137.50it/s]
Mapping codes: 100%|█████████████████████████████████████████████████████████████████████| 46520/46520 [02:42<00:00, 285.53it/s]

In [7]:
data_path = "data/mimic-iii-clinical-database-1.4/"

In [14]:
df = pd.read_csv(data_path + 'PATIENTS.csv')

In [21]:
df_admission = pd.read_csv(data_path + 'ADMISSIONS.csv')

In [33]:
df_admission[['SUBJECT_ID', 'HADM_ID', 'ADMITTIME', 'DISCHTIME', 'DEATHTIME', 'MARITAL_STATUS', 'ETHNICITY']]

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58971,58594,98800,191113,2131-03-30 21:13:00,2131-04-02 15:02:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,NOT SPECIFIED,SINGLE,WHITE,2131-03-30 19:44:00,2131-03-30 22:41:00,TRAUMA,0,1
58972,58595,98802,101071,2151-03-05 20:00:00,2151-03-06 09:10:00,2151-03-06 09:10:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2151-03-05 17:23:00,2151-03-05 21:06:00,SAH,1,1
58973,58596,98805,122631,2200-09-12 07:15:00,2200-09-20 12:08:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,RENAL CANCER/SDA,0,1
58974,58597,98813,170407,2128-11-11 02:29:00,2128-12-22 13:11:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,ENGL,CATHOLIC,MARRIED,WHITE,2128-11-10 23:48:00,2128-11-11 03:16:00,S/P FALL,0,0
58975,58598,98813,190264,2131-10-25 03:09:00,2131-10-26 17:44:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,CATHOLIC,MARRIED,WHITE,2131-10-25 00:08:00,2131-10-25 04:35:00,INTRACRANIAL HEMORRHAGE,0,1

In [26]:
df.SUBJECT_ID.nunique()

46520

In [27]:
df_admission.SUBJECT_ID.nunique()

46520

In [29]:
df[df.SUBJECT_ID == 22]

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
240,19,22,F,2131-05-07 00:00:00,NaN,NaN,NaN,0

In [30]:
df_admission[df_admission.SUBJECT_ID == 22]

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1

In [31]:
df.dtypes

ROW_ID          int64
SUBJECT_ID      int64
GENDER         object
DOB            object
DOD            object
DOD_HOSP       object
DOD_SSN        object
EXPIRE_FLAG     int64
dtype: object

In [34]:
df_admission

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58971,58594,98800,191113,2131-03-30 21:13:00,2131-04-02 15:02:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,NOT SPECIFIED,SINGLE,WHITE,2131-03-30 19:44:00,2131-03-30 22:41:00,TRAUMA,0,1
58972,58595,98802,101071,2151-03-05 20:00:00,2151-03-06 09:10:00,2151-03-06 09:10:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2151-03-05 17:23:00,2151-03-05 21:06:00,SAH,1,1
58973,58596,98805,122631,2200-09-12 07:15:00,2200-09-20 12:08:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,RENAL CANCER/SDA,0,1
58974,58597,98813,170407,2128-11-11 02:29:00,2128-12-22 13:11:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,ENGL,CATHOLIC,MARRIED,WHITE,2128-11-10 23:48:00,2128-11-11 03:16:00,S/P FALL,0,0
58975,58598,98813,190264,2131-10-25 03:09:00,2131-10-26 17:44:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,CATHOLIC,MARRIED,WHITE,2131-10-25 00:08:00,2131-10-25 04:35:00,INTRACRANIAL HEMORRHAGE,0,1

In [35]:
df_icu = pd.read_csv(data_path + 'ICUSTAYS.csv')

In [39]:
df_icu.ICUSTAY_ID.nunique()

61532

In [40]:
df_icu.HADM_ID.nunique()

57786

In [44]:
item = pd.read_csv(data_path + 'DIAGNOSES_ICD.csv')

In [52]:
item[item.ICD9_CODE == '78552']

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
738        131          21   111970      2.0     78552
1516      3052         250   124271      2.0     78552
1827      2385         191   136614      6.0     78552
2087      3623         305   194340      3.0     78552
2410      2077         166   128219      3.0     78552
...        ...         ...      ...      ...       ...
649476  637569       96974   179056      3.0     78552
649525  650716       99912   189380      4.0     78552
649768  637606       96977   109134      4.0     78552
650122  640434       97599   135263      8.0     78552
650416  630590       95555   103704      4.0     78552

[2586 rows x 5 columns]

In [53]:
item[item.ICD9_CODE == '99592']

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
87        1547         117   164853     16.0     99592
144       1604         124   138376      6.0     99592
747        140          21   111970     11.0     99592
914        307          38   185910      3.0     99592
1524      3060         250   124271     10.0     99592
...        ...         ...      ...      ...       ...
650121  640433       97599   135263      7.0     99592
650419  630593       95555   103704      7.0     99592
650436  630610       95561   121289      5.0     99592
650584  631694       95803   134466      5.0     99592
650848  638356       97143   122472     10.0     99592

[3912 rows x 5 columns]

In [55]:
item[item.SUBJECT_ID == 21]

     ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
719     112          21   109451      1.0     41071
720     113          21   109451      2.0     78551
721     114          21   109451      3.0      5781
722     115          21   109451      4.0      5849
723     116          21   109451      5.0     40391
724     117          21   109451      6.0      4280
725     118          21   109451      7.0      4592
726     119          21   109451      8.0      5070
727     120          21   109451      9.0     42731
728     121          21   109451     10.0      4271
729     122          21   109451     11.0     41401
730     123          21   109451     12.0     25000
731     124          21   109451     13.0     28521
732     125          21   109451     14.0      1122
733     126          21   109451     15.0      2720
734     127          21   109451     16.0      2749
735     128          21   109451     17.0     V1046
736     129          21   109451     18.0     43889
737     130          21   111970      1.0      0388
738     131          21   111970      2.0     78552
739     132          21   111970      3.0     40391
740     133          21   111970      4.0     42731
741     134          21   111970      5.0     70709
742     135          21   111970      6.0      5119
743     136          21   111970      7.0      6823
744     137          21   111970      8.0     99859
745     138          21   111970      9.0     00845
746     139          21   111970     10.0      5720
747     140          21   111970     11.0     99592
748     141          21   111970     12.0     V0980
749     142          21   111970     13.0     25000
750     143          21   111970     14.0      2859
751     144          21   111970     15.0     43889
752     145          21   111970     16.0      2749
753     146          21   111970     17.0     41401
754     147          21   111970     18.0       185
755     148          21   111970     19.0      4439
756     149          21   111970     20.0      2449
757     150          21   111970     21.0     E8788

In [56]:
df_admission[df_admission.HADM_ID == 109451]

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
229,19,21,109451,2134-09-11 12:17:00,2134-09-24 16:15:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Medicare,NaN,JEWISH,MARRIED,WHITE,2134-09-11 09:22:00,2134-09-11 22:30:00,CONGESTIVE HEART FAILURE,0,1

In [58]:
df_icu[df_icu.SUBJECT_ID == 21]

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS
384,20,21,109451,217847,carevue,CCU,CCU,7,7,2134-09-11 20:50:04,2134-09-17 18:28:32,5.9017
385,21,21,111970,216859,carevue,MICU,MICU,52,52,2135-01-30 20:53:34,2135-02-08 05:38:46,8.3647